[flake8]
ignore = D203
exclude =
    .git
    __pycache__
    docs/source/conf.py
    logs
    auth/grpc/app/users_list_pb2_grpc.py
    auth/grpc/app/users_list_pb2.py
    auth/cron/partition/patition_users_logs.py
    auth/token_payload/partition/patition_users_logs.py
    auth/token_payload/partition/fill_users_logs.py
    auth/token_payload/payload_pb2_grpc.py
    auth/token_payload/payload_pb2.py
    auth/admin/tests/token_test.py

max-line-length = 121


per-file-ignores =

    admin/tests/test_admin.py:E402
    admin/app.py:F401
    admin/db/postgres.py:E501
    admin/migrations/env.py:E501
    admin/migrations/versions/7d022738afb7_adding_roles_to_the_table_roles.py:E501
    admin/payload_get/token_payload.py:E501
    admin/tests/test_admin.py:E501
    admin/tests/test_price.py:E402
    admin/core/logger.py:E124
    admin/core/token.py:E501
    admin/tests/token_test.py:E402
    auth/tests/token_test.py:E402
    auth/tests/test_yandex.py:E501
    auth/api/v1/vk_authorization.py:E501
    auth/api/v1/yandex_authorization.py:E501
    auth/migrations/versions/7d022738afb7_adding_roles_to_the_table_roles.py:E501
    auth/migrations/env.py:E501
    auth/service/ext_users.py:E501
    auth/db/postgres.py:E501
    token_payload/partition/patition_users_logs.py:E402

    tests/test_pay.py:F841
    tests/test_pay.py:E501
    tests/test_login.py:F841
    payments-client/db/postgres.py:E501
    cron/partition/patition_users_logs.py:W291
    cron/reminder/reminder.py:E402
    cron/reminder/rabbitmq.py:E402
    cron/partition/patition_users_logs.py:E402
    payments-client/services/prices.py:E712
